    <nav>
    <div class="site-width">
      <a href="{{ site.url }}">Kabir Sewani</a>
      <span class="menu icon" title="Menu (Esc)" tabindex="0" data-icon="m"><span>MENU</span></span>
    <div>

    <div id="navigation">
    <ul>
      <li><span>The man behind this site</span><a href="{{ site.url }}/about" class="about" title="About me">About me</a></li>
      <li><span>Pretty things I made</span><a href="{{ site.url }}/work" class="portfolio" title="My Portfolio">My Work</a></li>
      <li><span>Cool stories I wrote</span><a href="{{ site.url }}/articles" class="blog" title="My Blog">Articles</a></li>
    </ul>

<div class="social-icons tlicons">
<hr>
      <a href="http://twitter.com/beeriest" title="Kabir Sewani on Twitter" target="_blank"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>
    <!--  <a href="http://instagram.com/cabbeer" title="Kabir Sewani on Instagram" target="_blank"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
      <a href="http://github.com/cabbeer" title="Kabir Sewani on Github" target="_blank"><i class="fa fa-github fa-fw fa-2x"></i></a>
      <a href="http://facebook.com/kabir.sewani" title="Kabir Sewani on Facebook" target="_blank"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
      <a href="http://plus.google.com/104680349722964917725" title="Kabir Sewani on Google+" target="_blank"><i class="fa fa-google-plus-square fa-fw fa-2x"></i></a>
      -->
      
    </div>


    </div>



  </nav>
