---
layout: default2
body_id: page
---

	<article class="entry" itemscope itemtype="http://schema.org/WebPage">
		<div class="entry-wrapper">
			<div class="entry-content" itemprop="description">
				{{ content }}

			</div><!-- /.entry-content -->

		</div><!-- /.entry-wrapper -->





<section class="loves-friends">
      <h3>Zeitgeist</h3>

      <p>These are some of the incredibly talented people that have inluenced my work, thoughts, and career.</p>

      <ul class="loves-friends-design">
        <li>Friends</li>

        <li>
          <a href="http://robertsaric.com/" target="_blank">Rob Saric</a>
        </li>

        <li>
          <a href="http://aminbandali.com/" target="_blank">Amin Bandali</a>
        </li>        

        <li>
          <a href="http://markojelavic.com/" target="_blank">Marko Jelavic</a>
        </li>
      </ul>

      <ul class="loves-friends-photo">
        <li>Places Online</li>

        <li>
          <a href="http://craigshimala.com" target="_blank">Craig Shimala</a>
        </li>

        <li>
          <a href="http://52weeksofux.com/" target="_blank">52 Weeks of UX</a>
        </li>

        <li>
          <a href="http://paulgraham.com/articles.html" target="_blank">Paul Graham Essays</a>
        </li>

        <li>
          <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/HomePage" target="_blank">TV Tropes</a>
        </li>

        <li>
          <a href="http://pauloctavious.com" target="_blank">Paul Octavious</a>
        </li>

        <li>
          <a href="http://rubbishisgold.com" target="_blank">Rubbish</a>
        </li>

        <li>
          <a href="http://seandorgan.com" target="_blank">Sean Dorgan</a>
        </li>
      </ul>


<div id="lifestream">&nbsp;</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lifestream/0.3.7/jquery.lifestream.min.js"></script>

<script>
  $("#lifestream").lifestream({
classname: "lifestream",

  limit: 10,
  list:[
        {
          service: 'facebook_page',
          user: 'kabir.sewani'
        },
        {
          service: 'github',
          user: 'cabbeer'
        },

        // Change the key when you're using it on your own website
        // You can create one on https://code.google.com/apis/console
        {
          service: 'googleplus',
          user: '104680349722964917725',
          key: 'AIzaSyB8a-0llQOWEvsChAgIrl4KCtzYmBJhA-I'
        },
        {
          service: 'rss',
          user: 'http://kabirsewani.com/feed/'
        },
        {
          service: 'twitter',
          user: 'beeriest'
        },
        {
          service: 'youtube',
          user: 'kabir52'
        },
  ]
  });
</script>




</section>


<section class="loves-books">
      <h3>Books worth reading</h3>

      <p>"Seeing someone reading a book you love is seeing a book recommending a person"</p>

      <ul>
        <li>
          <a href=""><img src="{{ site.url }}/images/book-lolita.jpg">

          <div>
            <h6>Lolita</h6><em>Vladimir Nabokov</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-invisibleman.jpg">

          <div>
            <h6>Invisible Man</h6><em>Ralph Ellison</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-slaughterhousefive.jpg">

          <div>
            <h6>Slaughterhouse-5</h6><em>Kurt Vonnegut</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-1984.jpg">

          <div>
            <h6>1984</h6><em>George Orwell</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-tokillamb.jpg">

          <div>
            <h6>To Kill a Mockingbird</h6><em>Harper Lee</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-thesun.jpg">

          <div>
            <h6>The Sun Also Rises</h6><em>Ernest Hemingway</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-americantragedy.jpg">

          <div>
            <h6>An American Tragedy</h6><em>Theodore Dreiser</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-myantonia.jpg">

          <div>
            <h6>My Antonia</h6><em>Willa Cather</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-ontheroad.jpg">

          <div>
            <h6>On the Road</h6><em>Jack Kerouac</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-lonelyhunter.jpg">

          <div>
            <h6>The Heart is A Lonely Hunter</h6><em>Carson Mccullers</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-tropicofcancer.jpg">

          <div>
            <h6>The Tropic of Cancer</h6><em>Henry Miller</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-eyeswatchinggod.jpg">

          <div>
            <h6>Their Eyes Were Watching God</h6><em>Zora Neale Hurston</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-tothelighthouse.jpg">

          <div>
            <h6>To the Lighthouse</h6><em>Virginia Woolf</em>
          </div></a>
        </li>

        <li>
          <a href=""><img src="{{ site.url }}/images/book-ulysses.jpg">

          <div>
            <h6>Ulysses</h6><em>James Joyce</em>
          </div></a>
        </li>                
      </ul>
    </section>















		<div class="entry-wrapper">
			<div class="entry-content" id="contactanchor" itemprop="description">



<hr> <!-- Contact Me (Wufoo) Form-->
<h2> Contact Me</h2>
<p> Send a short message below or <a href="http://twitter.com/beeriest">@contact me on Twitter.</a></p>

<link rel="stylesheet" href="{{ site.url }}/{% ministamp _assets/css/form.min.css css/form.min.css %}">
<script src="{{ site.url }}/{% ministamp _assets/js/vendor/wufoo.js js/vendor/wufoo.js %}"></script>

<form id="form1" name="form1" class="wufoo  page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://beeriest.wufoo.com/forms/m19l0rr51yn9s5x/#public">
	<ul>
		<li id="foli1" class="notranslate      ">
			<label class="desc" id="title1" for="Field12"> Message <span id="req_1" class="req">*</span> </label>
			<div>
				<textarea id="Field1" name="Field12" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="1" onkeyup="" required></textarea>
			</div>
		</li>
		<li id="foli7" class="notranslate      ">
			<label class="desc" id="title7" for="Field10"> Name </label>
			<div>
				<input id="Field7" name="Field10" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup="" />
			</div>
		</li>
		<li id="foli2" class="notranslate      ">
			<label class="desc" id="title2" for="Field11"> Email Address <span id="req_2" class="req">*</span> </label>
			<div>
				<input id="Field2" name="Field11" type="email" spellcheck="false" class="field text large" value="" maxlength="255" tabindex="3" required />
			</div>
			<p class="instruct" id="instruct2"><small>Your email address will remain private and won't be shared with anyone.</small></p>
		</li>
		<li class="buttons ">
			<div>
				<input id="saveForm" name="saveForm" class="btn" type="submit" value="Send Message" />
			</div>
		</li>
		<li class="hidden">
			<label for="comment">Do Not Fill This Out</label>
			<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
			<input type="hidden" id="idstamp" name="idstamp" value="pk741yzbC0D6dwkAEYuadTb2gan5IkviipG8Fi04Shc=" />
		</li>
	</ul>
</form>




        <hr />    
        <div class="entry-meta">
          {% if page.modified %}<span class="author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">Last updated by <span itemprop="name" class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}" itemprop="url">{{ site.owner.name }}</a></span> on </span> <span class="entry-date"><time datetime="{{ page.modified }}" itemprop="dateModified" class="updated">{{ page.modified | date: "%B %d, %Y" }}</time></span>{% endif %}
        </div><!-- .entry-meta -->



</div>
</div>









	</article>